# Virtual Environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# OS-specific files
.DS_Store
Thumbs.db

# Secret credentials
credentials.json
config/firebase_admin.json
.env

# Temporary files
tmp_docs/
*.pdf